<div class="d-flex justify-center pb-8 pt-8">
    <MudImage Src="images/logo.png" Alt="Dima" Width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/transactions/history">History</MudNavLink>
    <MudNavLink Href="/categories">Categories</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/logout">Logout</MudNavLink>
</MudNavMenu>